@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Merriweather:wght@900&family=Mulish:wght@200;300;400;600;800&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: Mulish;



}

header {
    padding: 60px 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    color: #FF5400;
    font-weight: 700;
}

nav>ul {
    display: flex;

}

nav li {

    list-style: none;
    margin-right: 40px;
    font-weight: 400;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424247);

}

/* .home{
    color: #FF5400;
    font-weight: 700;
    }    */

.nav-title {
    /* margin-top: auto; */
    color: #FF5400;
    font-family: Mulish;
    font-style: normal;
    font-size: 36px;
    font-weight: 800;

}

.background-image-container {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    border-radius: 20px;
}


.banner {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);

    border-radius: 20px;

    width: 1195px;
    height: 500px;
    flex-shrink: 0;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}




.banner-title {
    color: #FFF;

    font-family: Mulish;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 40px;
}

.banner-text {

    color: #FFF;
    padding-bottom: 20px;
    text-align: center;
    font-family: Mulish;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

    /* 162.5% */
}

.banner-option {
    /* background-color: #13131880; */
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;
    width: 760px;
    height: 80px;
    margin: auto;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

.contact {
    /* width: 800px;
    height: 80px; */
    /* background-color:#13131880 ; */

    display: flex;
    justify-content: space-between;

    padding: 1rem;
    /* align-items: center; */
    gap: 1rem;



    /* border-radius: 8px;
background: rgba(255, 255, 255, 0.30); */

    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */



    width: 174px;
    height: 52px;
    border-radius: 8px;
    gap: 20px;


}

.c {
    border-radius: 10px;
}

.btn-primary {
    background-color: #FF5400;
    flex-shrink: 0;
    border-radius: 10px;

}









/* responsive media queries */
@media screen and (max-width: 576px) {

    .background-image-container {

        background-size: contain;
        height: auto;

    }



    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    /* .team-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    } */

    .banner-title {
        padding-top: 12px;
        font-size: 24px;
    }

    .banner-text {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
    }


    .banner {

        max-width: 335px;
        max-height: 500px;

        margin-top: 0;
    }


    .banner-option {
        display: flex;
        width: 210px;
        height: 300px;
        margin-top: 0;
        padding: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .contact {
        /* width: 50px;
        height: 483px; */
        flex-direction: column;


    }

    .c,
    .btn-primary {
        width: 174px;
        height: 52px;
        flex-shrink: 0;
    }

    nav li {
        display: none;
    }



}